 /* mail index  */
 .mail-index {
     display: grid;
     grid-template-columns: 1fr 1fr;

 }

 .mail-index .search {
     grid-column: 2/3;
 }

 .mail-index .mails {
     grid-column: 1/-1;

 }


 .mail-index .mails .compose {
    display: flex;
     width: 9em;
     height: 3.3em;
     position: fixed;
     bottom: 6em;
     right: 3em;
     border: none;
     border-radius: 20px;
     justify-content: space-around;
     align-items: center;
     padding: 1em;
     cursor: pointer;
     color: rgb(226, 72, 72);
 }

 